<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  <title>All bookings</title>
</head>
<body>
  <h1>All bookings</h1>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Service</th>
      </tr>
    </thead>
    <tbody>
      {% for booking in bookings %}
      <tr>
        <td>{{ booking.id }}</td>
        <td>{{ booking.name }}</td>
        <td>{{ booking.service }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>